
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Allure reports
/reports/allure-results/
/reports/allure-results-archive/
/reports/allure-html-report/
/reports/allure-html-report-archived/
/reports/playwright-report/

# Environment secrets
